// Base16 3024

$base00: #090300 !default;
$base01: #3a3432 !default;
$base02: #4a4543 !default;
$base03: #5c5855 !default;
$base04: #807d7c !default;
$base05: #a5a2a2 !default;
$base06: #d6d5d4 !default;
$base07: #f7f7f7 !default;
$base08: #db2d20 !default;
$base09: #e8bbd0 !default;
$base0A: #fded02 !default;
$base0B: #01a252 !default;
$base0C: #b5e4f4 !default;
$base0D: #01a0e4 !default;
$base0E: #a16a94 !default;
$base0F: #cdab53 !default;
