// Base16 Apathy

$base00: #031A16 !default;
$base01: #0B342D !default;
$base02: #184E45 !default;
$base03: #2B685E !default;
$base04: #5F9C92 !default;
$base05: #81B5AC !default;
$base06: #A7CEC8 !default;
$base07: #D2E7E4 !default;
$base08: #3E9688 !default;
$base09: #3E7996 !default;
$base0A: #3E4C96 !default;
$base0B: #883E96 !default;
$base0C: #963E4C !default;
$base0D: #96883E !default;
$base0E: #4C963E !default;
$base0F: #3E965B !default;
