// Base16 Ashes

$base00: #1C2023 !default;
$base01: #393F45 !default;
$base02: #565E65 !default;
$base03: #747C84 !default;
$base04: #ADB3BA !default;
$base05: #C7CCD1 !default;
$base06: #DFE2E5 !default;
$base07: #F3F4F5 !default;
$base08: #C7AE95 !default;
$base09: #C7C795 !default;
$base0A: #AEC795 !default;
$base0B: #95C7AE !default;
$base0C: #95AEC7 !default;
$base0D: #AE95C7 !default;
$base0E: #C795AE !default;
$base0F: #C79595 !default;
