// Base16 Atelier Seaside

$base00: #131513 !default;
$base01: #242924 !default;
$base02: #5e6e5e !default;
$base03: #687d68 !default;
$base04: #809980 !default;
$base05: #8ca68c !default;
$base06: #cfe8cf !default;
$base07: #f0fff0 !default;
$base08: #e6193c !default;
$base09: #87711d !default;
$base0A: #c3c322 !default;
$base0B: #29a329 !default;
$base0C: #1999b3 !default;
$base0D: #3d62f5 !default;
$base0E: #ad2bee !default;
$base0F: #e619c3 !default;
