// Base16 Atelier Dune

$base00: #20201d !default;
$base01: #292824 !default;
$base02: #6e6b5e !default;
$base03: #7d7a68 !default;
$base04: #999580 !default;
$base05: #a6a28c !default;
$base06: #e8e4cf !default;
$base07: #fefbec !default;
$base08: #d73737 !default;
$base09: #b65611 !default;
$base0A: #cfb017 !default;
$base0B: #60ac39 !default;
$base0C: #1fad83 !default;
$base0D: #6684e1 !default;
$base0E: #b854d4 !default;
$base0F: #d43552 !default;
