// Base16 Atelier Heath

$base00: #1b181b !default;
$base01: #292329 !default;
$base02: #695d69 !default;
$base03: #776977 !default;
$base04: #9e8f9e !default;
$base05: #ab9bab !default;
$base06: #d8cad8 !default;
$base07: #f7f3f7 !default;
$base08: #ca402b !default;
$base09: #a65926 !default;
$base0A: #bb8a35 !default;
$base0B: #379a37 !default;
$base0C: #159393 !default;
$base0D: #516aec !default;
$base0E: #7b59c0 !default;
$base0F: #cc33cc !default;
