// Base16 Atelier Forest

$base00: #1b1918 !default;
$base01: #2c2421 !default;
$base02: #68615e !default;
$base03: #766e6b !default;
$base04: #9c9491 !default;
$base05: #a8a19f !default;
$base06: #e6e2e0 !default;
$base07: #f1efee !default;
$base08: #f22c40 !default;
$base09: #df5320 !default;
$base0A: #d5911a !default;
$base0B: #5ab738 !default;
$base0C: #00ad9c !default;
$base0D: #407ee7 !default;
$base0E: #6666ea !default;
$base0F: #c33ff3 !default;
