// Base16 Atelier Sulphurpool

$base00: #202746 !default;
$base01: #293256 !default;
$base02: #5e6687 !default;
$base03: #6b7394 !default;
$base04: #898ea4 !default;
$base05: #979db4 !default;
$base06: #dfe2f1 !default;
$base07: #f5f7ff !default;
$base08: #c94922 !default;
$base09: #c76b29 !default;
$base0A: #c08b30 !default;
$base0B: #ac9739 !default;
$base0C: #22a2c9 !default;
$base0D: #3d8fd1 !default;
$base0E: #6679cc !default;
$base0F: #9c637a !default;
