// Base16 Atelier Savanna

$base00: #171c19 !default;
$base01: #232a25 !default;
$base02: #526057 !default;
$base03: #5f6d64 !default;
$base04: #78877d !default;
$base05: #87928a !default;
$base06: #dfe7e2 !default;
$base07: #ecf4ee !default;
$base08: #b16139 !default;
$base09: #9f713c !default;
$base0A: #a07e3b !default;
$base0B: #489963 !default;
$base0C: #1c9aa0 !default;
$base0D: #478c90 !default;
$base0E: #55859b !default;
$base0F: #867469 !default;
