// Base16 Atelier Plateau

$base00: #1b1818 !default;
$base01: #292424 !default;
$base02: #585050 !default;
$base03: #655d5d !default;
$base04: #7e7777 !default;
$base05: #8a8585 !default;
$base06: #e7dfdf !default;
$base07: #f4ecec !default;
$base08: #ca4949 !default;
$base09: #b45a3c !default;
$base0A: #a06e3b !default;
$base0B: #4b8b8b !default;
$base0C: #5485b6 !default;
$base0D: #7272ca !default;
$base0E: #8464c4 !default;
$base0F: #bd5187 !default;
