// Base16 Atelier Cave

$base00: #19171c !default;
$base01: #26232a !default;
$base02: #585260 !default;
$base03: #655f6d !default;
$base04: #7e7887 !default;
$base05: #8b8792 !default;
$base06: #e2dfe7 !default;
$base07: #efecf4 !default;
$base08: #be4678 !default;
$base09: #aa573c !default;
$base0A: #a06e3b !default;
$base0B: #2a9292 !default;
$base0C: #398bc6 !default;
$base0D: #576ddb !default;
$base0E: #955ae7 !default;
$base0F: #bf40bf !default;
