// Base16 Atelier Estuary

$base00: #22221b !default;
$base01: #302f27 !default;
$base02: #5f5e4e !default;
$base03: #6c6b5a !default;
$base04: #878573 !default;
$base05: #929181 !default;
$base06: #e7e6df !default;
$base07: #f4f3ec !default;
$base08: #ba6236 !default;
$base09: #ae7313 !default;
$base0A: #a5980d !default;
$base0B: #7d9726 !default;
$base0C: #5b9d48 !default;
$base0D: #36a166 !default;
$base0E: #5f9182 !default;
$base0F: #9d6c7c !default;
