// Base16 Atelier Lakeside

$base00: #161b1d !default;
$base01: #1f292e !default;
$base02: #516d7b !default;
$base03: #5a7b8c !default;
$base04: #7195a8 !default;
$base05: #7ea2b4 !default;
$base06: #c1e4f6 !default;
$base07: #ebf8ff !default;
$base08: #d22d72 !default;
$base09: #935c25 !default;
$base0A: #8a8a0f !default;
$base0B: #568c3b !default;
$base0C: #2d8f6f !default;
$base0D: #257fad !default;
$base0E: #5d5db1 !default;
$base0F: #b72dd2 !default;
