// Base16 Bespin

$base00: #28211c !default;
$base01: #36312e !default;
$base02: #5e5d5c !default;
$base03: #666666 !default;
$base04: #797977 !default;
$base05: #8a8986 !default;
$base06: #9d9b97 !default;
$base07: #baae9e !default;
$base08: #cf6a4c !default;
$base09: #cf7d34 !default;
$base0A: #f9ee98 !default;
$base0B: #54be0d !default;
$base0C: #afc4db !default;
$base0D: #5ea6ea !default;
$base0E: #9b859d !default;
$base0F: #937121 !default;
