// Base16 Brewer

$base00: #0c0d0e !default;
$base01: #2e2f30 !default;
$base02: #515253 !default;
$base03: #737475 !default;
$base04: #959697 !default;
$base05: #b7b8b9 !default;
$base06: #dadbdc !default;
$base07: #fcfdfe !default;
$base08: #e31a1c !default;
$base09: #e6550d !default;
$base0A: #dca060 !default;
$base0B: #31a354 !default;
$base0C: #80b1d3 !default;
$base0D: #3182bd !default;
$base0E: #756bb1 !default;
$base0F: #b15928 !default;
