// Base16 Bright

$base00: #000000 !default;
$base01: #303030 !default;
$base02: #505050 !default;
$base03: #b0b0b0 !default;
$base04: #d0d0d0 !default;
$base05: #e0e0e0 !default;
$base06: #f5f5f5 !default;
$base07: #ffffff !default;
$base08: #fb0120 !default;
$base09: #fc6d24 !default;
$base0A: #fda331 !default;
$base0B: #a1c659 !default;
$base0C: #76c7b7 !default;
$base0D: #6fb3d2 !default;
$base0E: #d381c3 !default;
$base0F: #be643c !default;
