// Base16 Chalk

$base00: #151515 !default;
$base01: #202020 !default;
$base02: #303030 !default;
$base03: #505050 !default;
$base04: #b0b0b0 !default;
$base05: #d0d0d0 !default;
$base06: #e0e0e0 !default;
$base07: #f5f5f5 !default;
$base08: #fb9fb1 !default;
$base09: #eda987 !default;
$base0A: #ddb26f !default;
$base0B: #acc267 !default;
$base0C: #12cfc0 !default;
$base0D: #6fc2ef !default;
$base0E: #e1a3ee !default;
$base0F: #deaf8f !default;
