// Base16 Codeschool

$base00: #232c31 !default;
$base01: #1c3657 !default;
$base02: #2a343a !default;
$base03: #3f4944 !default;
$base04: #84898c !default;
$base05: #9ea7a6 !default;
$base06: #a7cfa3 !default;
$base07: #b5d8f6 !default;
$base08: #2a5491 !default;
$base09: #43820d !default;
$base0A: #a03b1e !default;
$base0B: #237986 !default;
$base0C: #b02f30 !default;
$base0D: #484d79 !default;
$base0E: #c59820 !default;
$base0F: #c98344 !default;
