// Base16 Colors

$base00: #111111 !default;
$base01: #333333 !default;
$base02: #555555 !default;
$base03: #777777 !default;
$base04: #999999 !default;
$base05: #bbbbbb !default;
$base06: #dddddd !default;
$base07: #ffffff !default;
$base08: #ff4136 !default;
$base09: #ff851b !default;
$base0A: #ffdc00 !default;
$base0B: #2ecc40 !default;
$base0C: #7fdbff !default;
$base0D: #0074d9 !default;
$base0E: #b10dc9 !default;
$base0F: #85144b !default;
