// Base16 Default

$base00: #181818 !default;
$base01: #282828 !default;
$base02: #383838 !default;
$base03: #585858 !default;
$base04: #b8b8b8 !default;
$base05: #d8d8d8 !default;
$base06: #e8e8e8 !default;
$base07: #f8f8f8 !default;
$base08: #ab4642 !default;
$base09: #dc9656 !default;
$base0A: #f7ca88 !default;
$base0B: #a1b56c !default;
$base0C: #86c1b9 !default;
$base0D: #7cafc2 !default;
$base0E: #ba8baf !default;
$base0F: #a16946 !default;
