// Base16 Eighties

$base00: #2d2d2d !default;
$base01: #393939 !default;
$base02: #515151 !default;
$base03: #747369 !default;
$base04: #a09f93 !default;
$base05: #d3d0c8 !default;
$base06: #e8e6df !default;
$base07: #f2f0ec !default;
$base08: #f2777a !default;
$base09: #f99157 !default;
$base0A: #ffcc66 !default;
$base0B: #99cc99 !default;
$base0C: #66cccc !default;
$base0D: #6699cc !default;
$base0E: #cc99cc !default;
$base0F: #d27b53 !default;
