// Base16 Embers

$base00: #16130F !default;
$base01: #2C2620 !default;
$base02: #433B32 !default;
$base03: #5A5047 !default;
$base04: #8A8075 !default;
$base05: #A39A90 !default;
$base06: #BEB6AE !default;
$base07: #DBD6D1 !default;
$base08: #826D57 !default;
$base09: #828257 !default;
$base0A: #6D8257 !default;
$base0B: #57826D !default;
$base0C: #576D82 !default;
$base0D: #6D5782 !default;
$base0E: #82576D !default;
$base0F: #825757 !default;
