// Base16 Flat

$base00: #2C3E50 !default;
$base01: #34495E !default;
$base02: #7F8C8D !default;
$base03: #95A5A6 !default;
$base04: #BDC3C7 !default;
$base05: #e0e0e0 !default;
$base06: #f5f5f5 !default;
$base07: #ECF0F1 !default;
$base08: #E74C3C !default;
$base09: #E67E22 !default;
$base0A: #F1C40F !default;
$base0B: #2ECC71 !default;
$base0C: #1ABC9C !default;
$base0D: #3498DB !default;
$base0E: #9B59B6 !default;
$base0F: #be643c !default;
