// Base16 Green Screen

$base00: #001100 !default;
$base01: #003300 !default;
$base02: #005500 !default;
$base03: #007700 !default;
$base04: #009900 !default;
$base05: #00bb00 !default;
$base06: #00dd00 !default;
$base07: #00ff00 !default;
$base08: #007700 !default;
$base09: #009900 !default;
$base0A: #007700 !default;
$base0B: #00bb00 !default;
$base0C: #005500 !default;
$base0D: #009900 !default;
$base0E: #00bb00 !default;
$base0F: #005500 !default;
