// Base16 harmonic16

$base00: #0b1c2c !default;
$base01: #223b54 !default;
$base02: #405c79 !default;
$base03: #627e99 !default;
$base04: #aabcce !default;
$base05: #cbd6e2 !default;
$base06: #e5ebf1 !default;
$base07: #f7f9fb !default;
$base08: #bf8b56 !default;
$base09: #bfbf56 !default;
$base0A: #8bbf56 !default;
$base0B: #56bf8b !default;
$base0C: #568bbf !default;
$base0D: #8b56bf !default;
$base0E: #bf568b !default;
$base0F: #bf5656 !default;
