// Base16 Isotope

$base00: #000000 !default;
$base01: #404040 !default;
$base02: #606060 !default;
$base03: #808080 !default;
$base04: #c0c0c0 !default;
$base05: #d0d0d0 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #ff0000 !default;
$base09: #ff9900 !default;
$base0A: #ff0099 !default;
$base0B: #33ff00 !default;
$base0C: #00ffff !default;
$base0D: #0066ff !default;
$base0E: #cc00ff !default;
$base0F: #3300ff !default;
