// Base16 London Tube

$base00: #231f20 !default;
$base01: #1c3f95 !default;
$base02: #5a5758 !default;
$base03: #737171 !default;
$base04: #959ca1 !default;
$base05: #d9d8d8 !default;
$base06: #e7e7e8 !default;
$base07: #ffffff !default;
$base08: #ee2e24 !default;
$base09: #f386a1 !default;
$base0A: #ffd204 !default;
$base0B: #00853e !default;
$base0C: #85cebc !default;
$base0D: #009ddc !default;
$base0E: #98005d !default;
$base0F: #b06110 !default;
