// Base16 Marrakesh

$base00: #201602 !default;
$base01: #302e00 !default;
$base02: #5f5b17 !default;
$base03: #6c6823 !default;
$base04: #86813b !default;
$base05: #948e48 !default;
$base06: #ccc37a !default;
$base07: #faf0a5 !default;
$base08: #c35359 !default;
$base09: #b36144 !default;
$base0A: #a88339 !default;
$base0B: #18974e !default;
$base0C: #75a738 !default;
$base0D: #477ca1 !default;
$base0E: #8868b3 !default;
$base0F: #b3588e !default;
