// Base16 Mocha

$base00: #3B3228 !default;
$base01: #534636 !default;
$base02: #645240 !default;
$base03: #7e705a !default;
$base04: #b8afad !default;
$base05: #d0c8c6 !default;
$base06: #e9e1dd !default;
$base07: #f5eeeb !default;
$base08: #cb6077 !default;
$base09: #d28b71 !default;
$base0A: #f4bc87 !default;
$base0B: #beb55b !default;
$base0C: #7bbda4 !default;
$base0D: #8ab3b5 !default;
$base0E: #a89bb9 !default;
$base0F: #bb9584 !default;
