// Base16 Monokai

$base00: #272822 !default;
$base01: #383830 !default;
$base02: #49483e !default;
$base03: #75715e !default;
$base04: #a59f85 !default;
$base05: #f8f8f2 !default;
$base06: #f5f4f1 !default;
$base07: #f9f8f5 !default;
$base08: #f92672 !default;
$base09: #fd971f !default;
$base0A: #f4bf75 !default;
$base0B: #a6e22e !default;
$base0C: #a1efe4 !default;
$base0D: #66d9ef !default;
$base0E: #ae81ff !default;
$base0F: #cc6633 !default;
