// Base16 Ocean

$base00: #2b303b !default;
$base01: #343d46 !default;
$base02: #4f5b66 !default;
$base03: #65737e !default;
$base04: #a7adba !default;
$base05: #c0c5ce !default;
$base06: #dfe1e8 !default;
$base07: #eff1f5 !default;
$base08: #bf616a !default;
$base09: #d08770 !default;
$base0A: #ebcb8b !default;
$base0B: #a3be8c !default;
$base0C: #96b5b4 !default;
$base0D: #8fa1b3 !default;
$base0E: #b48ead !default;
$base0F: #ab7967 !default;
