// Base16 Paraiso

$base00: #2f1e2e !default;
$base01: #41323f !default;
$base02: #4f424c !default;
$base03: #776e71 !default;
$base04: #8d8687 !default;
$base05: #a39e9b !default;
$base06: #b9b6b0 !default;
$base07: #e7e9db !default;
$base08: #ef6155 !default;
$base09: #f99b15 !default;
$base0A: #fec418 !default;
$base0B: #48b685 !default;
$base0C: #5bc4bf !default;
$base0D: #06b6ef !default;
$base0E: #815ba4 !default;
$base0F: #e96ba8 !default;
