// Base16 Pop

$base00: #000000 !default;
$base01: #202020 !default;
$base02: #303030 !default;
$base03: #505050 !default;
$base04: #b0b0b0 !default;
$base05: #d0d0d0 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #eb008a !default;
$base09: #f29333 !default;
$base0A: #f8ca12 !default;
$base0B: #37b349 !default;
$base0C: #00aabb !default;
$base0D: #0e5a94 !default;
$base0E: #b31e8d !default;
$base0F: #7a2d00 !default;
