// Base16 Railscasts

$base00: #2b2b2b !default;
$base01: #272935 !default;
$base02: #3a4055 !default;
$base03: #5a647e !default;
$base04: #d4cfc9 !default;
$base05: #e6e1dc !default;
$base06: #f4f1ed !default;
$base07: #f9f7f3 !default;
$base08: #da4939 !default;
$base09: #cc7833 !default;
$base0A: #ffc66d !default;
$base0B: #a5c261 !default;
$base0C: #519f50 !default;
$base0D: #6d9cbe !default;
$base0E: #b6b3eb !default;
$base0F: #bc9458 !default;
