// Base16 shapeshifter

$base00: #000000 !default;
$base01: #040404 !default;
$base02: #102015 !default;
$base03: #343434 !default;
$base04: #555555 !default;
$base05: #ababab !default;
$base06: #e0e0e0 !default;
$base07: #f9f9f9 !default;
$base08: #e92f2f !default;
$base09: #e09448 !default;
$base0A: #dddd13 !default;
$base0B: #0ed839 !default;
$base0C: #23edda !default;
$base0D: #3b48e3 !default;
$base0E: #f996e2 !default;
$base0F: #69542d !default;
