// Base16 Solarized

$base00: #002b36 !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #93a1a1 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0A: #b58900 !default;
$base0B: #859900 !default;
$base0C: #2aa198 !default;
$base0D: #268bd2 !default;
$base0E: #6c71c4 !default;
$base0F: #d33682 !default;
