// Base16 Twilight

$base00: #1e1e1e !default;
$base01: #323537 !default;
$base02: #464b50 !default;
$base03: #5f5a60 !default;
$base04: #838184 !default;
$base05: #a7a7a7 !default;
$base06: #c3c3c3 !default;
$base07: #ffffff !default;
$base08: #cf6a4c !default;
$base09: #cda869 !default;
$base0A: #f9ee98 !default;
$base0B: #8f9d6a !default;
$base0C: #afc4db !default;
$base0D: #7587a6 !default;
$base0E: #9b859d !default;
$base0F: #9b703f !default;
