$b16-bg-dark:     $base01;
$b16-bg-darkest:  $base00;

$b16-bg-light:    $base06;
$b16-bg-lightest: $base07;

// color names are based on the default color scheme and are not guaranteed to 
// display that color for other schemes
$b16-red:    $base08;
$b16-orange: $base09;
$b16-yellow: $base0A;
$b16-green:  $base0B;
$b16-cyan:   $base0C;
$b16-blue:   $base0D;
$b16-violet: $base0E;
$b16-brown:  $base0F;
