.base00-background { background-color: $base00; }
.base01-background { background-color: $base01; }
.base02-background { background-color: $base02; }
.base03-background { background-color: $base03; }
.base04-background { background-color: $base04; }
.base05-background { background-color: $base05; }
.base06-background { background-color: $base06; }
.base07-background { background-color: $base07; }
.base08-background { background-color: $base08; }
.base09-background { background-color: $base09; }
.base0A-background { background-color: $base0A; }
.base0B-background { background-color: $base0B; }
.base0C-background { background-color: $base0C; }
.base0D-background { background-color: $base0D; }
.base0E-background { background-color: $base0E; }
.base0F-background { background-color: $base0F; }

.base00 { color: $base00; }
.base01 { color: $base01; }
.base02 { color: $base02; }
.base03 { color: $base03; }
.base04 { color: $base04; }
.base05 { color: $base05; }
.base06 { color: $base06; }
.base07 { color: $base07; }
.base08 { color: $base08; }
.base09 { color: $base09; }
.base0A { color: $base0A; }
.base0B { color: $base0B; }
.base0C { color: $base0C; }
.base0D { color: $base0D; }
.base0E { color: $base0E; }
.base0F { color: $base00; }